In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [165]:
names = pd.read_csv("names_id_age.csv")
sales = pd.read_csv("lead_sale_stats.csv")

In [166]:
sales.head()

     lead_id        name  bought_policy  policy_amount
0  1197608_b   AN4UFZ08R              0              0
1  c_1116417      M0XPQP              1            403
2  a_1125118    LUH4V4F9              1            367
3   a_449886      KVC2IK              0              0
4   b_668018  3CIXG65M6W              0              0

In [164]:
sales[['lead','id']] = sales['lead_id'].str.split('_',expand=True)
sales.head()

ValueError: Columns must be same length as key

In [136]:
del sales['lead_id']

In [137]:
sales.head()

         name  bought_policy  policy_amount     lead       id
0   AN4UFZ08R              0              0  1197608        b
1      M0XPQP              1            403        c  1116417
2    LUH4V4F9              1            367        a  1125118
3      KVC2IK              0              0        a   449886
4  3CIXG65M6W              0              0        b   668018

In [138]:
sales['lead_type'] = np.where(sales['lead'].str.isalpha(), sales['lead'], sales['id'])

sales['lead_id'] = np.where(sales['id'].str.isnumeric(), sales['id'], sales['lead'])
sales.head()

,name,bought_policy,policy_amount,lead,id,lead_type,lead_id
0,AN4UFZ08R,0,0,1197608,b,b,1197608
1,M0XPQP,1,403,c,1116417,c,1116417
2,LUH4V4F9,1,367,a,1125118,a,1125118
3,KVC2IK,0,0,a,449886,a,449886
4,3CIXG65M6W,0,0,b,668018,b,668018

In [139]:
del sales['lead']

In [140]:
del sales['id']

In [141]:
sales.head()

         name  bought_policy  policy_amount lead_type  lead_id
0   AN4UFZ08R              0              0         b  1197608
1      M0XPQP              1            403         c  1116417
2    LUH4V4F9              1            367         a  1125118
3      KVC2IK              0              0         a   449886
4  3CIXG65M6W              0              0         b   668018

In [142]:
sales['lead_type'] = sales['lead_type'].str.upper()

In [144]:
sales.head()

         name  bought_policy  policy_amount lead_type  lead_id
0   AN4UFZ08R              0              0         B  1197608
1      M0XPQP              1            403         C  1116417
2    LUH4V4F9              1            367         A  1125118
3      KVC2IK              0              0         A   449886
4  3CIXG65M6W              0              0         B   668018

In [145]:
sales.dropna(subset=['lead_type'])

            name  bought_policy  policy_amount lead_type  lead_id
0      AN4UFZ08R              0              0         B  1197608
1         M0XPQP              1            403         C  1116417
2       LUH4V4F9              1            367         A  1125118
3         KVC2IK              0              0         A   449886
4     3CIXG65M6W              0              0         B   668018
5         OP6YA1              1            354         B  1096688
6        IPRK5TP              0              0         B   198591
7       PB2AINUC              1            425         A  1099025
9      L1L13ECKM              0              0         C   809537
10      6KMXVNQO              0              0         B   247881
11         MQ6LH              1            497         C  1058658
12     SD7QIKCV0              1            203         C   957527
13       0A9K9TQ              1            114         B   706297
14       ZKAAK5G              0              0         A  1187258
15       CFQ39JJ              0              0         C   924663
16      43JUA6CF              1            553         B   463280
17    HTE0KJL06S              0              0         C   592658
18       FE0LV4C              1            476         A   799233
19     CT2XIHE8J              1            420         B   676410
20         NG6V9              0              0         B  1112223
21     6YW2GYGNL              0              0         A   243450
22         U3ZTF              0              0         A   509309
23        4V05K5              1            125         A   610526
25     RABMB3DHG              1            524         A   938214
26       N1YH0UW              1            192         A  1199752
27    GY2DF9GYKL              0              0         B   477304
28     HIH0JF0HU              1            434         C   458210
29   Y2K28A50JDQ              0              0         C   331556
30    7KAD7D33TG              1            254         A   706509
31   B52QTEUF4TY              1            537         A   780845
..           ...            ...            ...       ...      ...
970   XZVTELQTET              1            195         C  1119628
971        JC2AO              0              0         B   317499
972      B4MKLUF              1            320         C   790833
973      W4H8ED4              1            546         C   736555
974       HBZOMA              0              0         A   190283
975     QICS1A8F              0              0         C  1176048
976   DXLGT0F5P5              0              0         B   932278
977     IIW5WQO2              1            437         B   803038
978   OX3CSF8CI0              0              0         B  1069842
979   RXOCEAAYR8              0              0         B   278091
980  KZ6AS0UGKGI              0              0         A   500195
981   Y1P27JFCKF              1            460         A   238471
982   LG2RA0RTCJ              1            526         B   773217
983       LUASTS              0              0         A  1027055
984    WGGM35E1S              0              0         A   276847
985       3YLTJ9              0              0         C   424147
986        MS97X              1            526         C  1181451
987      5Y8DIQQ              1            140         C  1041109
988   IABINDOL94              0              0         B  1078009
989   PGU967J6UD              1            104         A  1144386
990       S3UENY              0              0         A   292655
991     ARE82ZN7              1            495         A  1146093
992      XO2679H              0              0         B   792419
993  M0SLYNVBWUB              0              0         A   931282
994      MS9JCSV              0              0         A  1185345
995     MOABXA6G              1            484         A   572182
996  EDCIKLQYD0I              1            398         B   380084
997  SEDD82Z9TR0              0              0         C   468329
998      GSQMOLK              1            336         A   686770
999      VLTX3U1              0              0         C   901046

[996 rows x 5 columns]

In [149]:
sales.isnull().sum()

name             0
bought_policy    0
policy_amount    0
lead_type        4
lead_id          4
dtype: int64

In [148]:
sales.lead_type.unique()

array(['B', 'C', 'A', nan], dtype=object)

In [151]:
sales = sales[pd.notnull(sales)]

In [160]:
sales.replace('', np.nan, inplace=True)

In [158]:
sales.dropna(how='any')

            name  bought_policy  policy_amount lead_type  lead_id
0      AN4UFZ08R              0              0         B  1197608
1         M0XPQP              1            403         C  1116417
2       LUH4V4F9              1            367         A  1125118
3         KVC2IK              0              0         A   449886
4     3CIXG65M6W              0              0         B   668018
5         OP6YA1              1            354         B  1096688
6        IPRK5TP              0              0         B   198591
7       PB2AINUC              1            425         A  1099025
9      L1L13ECKM              0              0         C   809537
10      6KMXVNQO              0              0         B   247881
11         MQ6LH              1            497         C  1058658
12     SD7QIKCV0              1            203         C   957527
13       0A9K9TQ              1            114         B   706297
14       ZKAAK5G              0              0         A  1187258
15       CFQ39JJ              0              0         C   924663
16      43JUA6CF              1            553         B   463280
17    HTE0KJL06S              0              0         C   592658
18       FE0LV4C              1            476         A   799233
19     CT2XIHE8J              1            420         B   676410
20         NG6V9              0              0         B  1112223
21     6YW2GYGNL              0              0         A   243450
22         U3ZTF              0              0         A   509309
23        4V05K5              1            125         A   610526
25     RABMB3DHG              1            524         A   938214
26       N1YH0UW              1            192         A  1199752
27    GY2DF9GYKL              0              0         B   477304
28     HIH0JF0HU              1            434         C   458210
29   Y2K28A50JDQ              0              0         C   331556
30    7KAD7D33TG              1            254         A   706509
31   B52QTEUF4TY              1            537         A   780845
..           ...            ...            ...       ...      ...
970   XZVTELQTET              1            195         C  1119628
971        JC2AO              0              0         B   317499
972      B4MKLUF              1            320         C   790833
973      W4H8ED4              1            546         C   736555
974       HBZOMA              0              0         A   190283
975     QICS1A8F              0              0         C  1176048
976   DXLGT0F5P5              0              0         B   932278
977     IIW5WQO2              1            437         B   803038
978   OX3CSF8CI0              0              0         B  1069842
979   RXOCEAAYR8              0              0         B   278091
980  KZ6AS0UGKGI              0              0         A   500195
981   Y1P27JFCKF              1            460         A   238471
982   LG2RA0RTCJ              1            526         B   773217
983       LUASTS              0              0         A  1027055
984    WGGM35E1S              0              0         A   276847
985       3YLTJ9              0              0         C   424147
986        MS97X              1            526         C  1181451
987      5Y8DIQQ              1            140         C  1041109
988   IABINDOL94              0              0         B  1078009
989   PGU967J6UD              1            104         A  1144386
990       S3UENY              0              0         A   292655
991     ARE82ZN7              1            495         A  1146093
992      XO2679H              0              0         B   792419
993  M0SLYNVBWUB              0              0         A   931282
994      MS9JCSV              0              0         A  1185345
995     MOABXA6G              1            484         A   572182
996  EDCIKLQYD0I              1            398         B   380084
997  SEDD82Z9TR0              0              0         C   468329
998      GSQMOLK              1            336         A   686770
999      VLTX3U1              0              0         C   901046

[996 rows x 5 columns]

In [162]:
sales.dropna(subset=['lead_id'])

            name  bought_policy  policy_amount lead_type  lead_id
0      AN4UFZ08R              0              0         B  1197608
1         M0XPQP              1            403         C  1116417
2       LUH4V4F9              1            367         A  1125118
3         KVC2IK              0              0         A   449886
4     3CIXG65M6W              0              0         B   668018
5         OP6YA1              1            354         B  1096688
6        IPRK5TP              0              0         B   198591
7       PB2AINUC              1            425         A  1099025
9      L1L13ECKM              0              0         C   809537
10      6KMXVNQO              0              0         B   247881
11         MQ6LH              1            497         C  1058658
12     SD7QIKCV0              1            203         C   957527
13       0A9K9TQ              1            114         B   706297
14       ZKAAK5G              0              0         A  1187258
15       CFQ39JJ              0              0         C   924663
16      43JUA6CF              1            553         B   463280
17    HTE0KJL06S              0              0         C   592658
18       FE0LV4C              1            476         A   799233
19     CT2XIHE8J              1            420         B   676410
20         NG6V9              0              0         B  1112223
21     6YW2GYGNL              0              0         A   243450
22         U3ZTF              0              0         A   509309
23        4V05K5              1            125         A   610526
25     RABMB3DHG              1            524         A   938214
26       N1YH0UW              1            192         A  1199752
27    GY2DF9GYKL              0              0         B   477304
28     HIH0JF0HU              1            434         C   458210
29   Y2K28A50JDQ              0              0         C   331556
30    7KAD7D33TG              1            254         A   706509
31   B52QTEUF4TY              1            537         A   780845
..           ...            ...            ...       ...      ...
970   XZVTELQTET              1            195         C  1119628
971        JC2AO              0              0         B   317499
972      B4MKLUF              1            320         C   790833
973      W4H8ED4              1            546         C   736555
974       HBZOMA              0              0         A   190283
975     QICS1A8F              0              0         C  1176048
976   DXLGT0F5P5              0              0         B   932278
977     IIW5WQO2              1            437         B   803038
978   OX3CSF8CI0              0              0         B  1069842
979   RXOCEAAYR8              0              0         B   278091
980  KZ6AS0UGKGI              0              0         A   500195
981   Y1P27JFCKF              1            460         A   238471
982   LG2RA0RTCJ              1            526         B   773217
983       LUASTS              0              0         A  1027055
984    WGGM35E1S              0              0         A   276847
985       3YLTJ9              0              0         C   424147
986        MS97X              1            526         C  1181451
987      5Y8DIQQ              1            140         C  1041109
988   IABINDOL94              0              0         B  1078009
989   PGU967J6UD              1            104         A  1144386
990       S3UENY              0              0         A   292655
991     ARE82ZN7              1            495         A  1146093
992      XO2679H              0              0         B   792419
993  M0SLYNVBWUB              0              0         A   931282
994      MS9JCSV              0              0         A  1185345
995     MOABXA6G              1            484         A   572182
996  EDCIKLQYD0I              1            398         B   380084
997  SEDD82Z9TR0              0              0         C   468329
998      GSQMOLK              1            336         A   686770
999      VLTX3U1              0              0         C   901046

[996 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
name             1000 non-null object
bought_policy    1000 non-null int64
policy_amount    1000 non-null int64
lead_type        996 non-null object
lead_id          996 non-null object
dtypes: int64(2), object(3)
memory usage: 39.1+ KB